.resultSingle,
.fade-custom {
  animation: 0.5s forwards cubic-bezier(0.23, 1, 0.32, 1) fade;
  opacity: 0;
  transform: translateY(-150px);
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
